<!--End of Header Area-->
<script type="text/javascript">
  $(document).ready(function() { 
      /*--------------------------
    Newsletter Popup Js 
---------------------------- */ 
      $("#newsletter-popup-conatiner").mouseup(function(e){
        var popContainer = $("#newsletter-popup-conatiner");
        var newsLatterPop = $("#newsletter-pop-up"); 
        if(e.target.id != newsLatterPop.attr('id') && !newsLatterPop.has(e.target).length)
        {
          popContainer.fadeOut();
        }
      });
      $('.hide-popup').on("click", function(){
        var popContainer = $("#newsletter-popup-conatiner");
        $('#newsletter-popup-conatiner')
        {
          popContainer.fadeOut();
        }
      });

      $('#dont_show').on("click", function(){
        $.cookie('popup_cookie', 'pclosed', {
          expires: 3,
          path: '/'
        });
        $('.hide-popup').trigger('click');
      });
      // console.log($.cookie('popup_cookie'));

      

    });
</script>
</div>
    <div class="contentforlayout">
      <!--Product Details Area Start-->






 

<!-- breadcrumb -->
<div class="bread-crumb bgwhite flex-w p-l-52 p-r-15 p-t-30 p-l-15-sm">
  <a class="s-text16" href="/" title="Back to the frontpage">
    Home<i class="fa fa-angle-right m-l-8 m-r-9" aria-hidden="true"></i>
  </a>
  

  
  <a class="s-text16" href=""><span><%= @product.productname %></span></a>

  
</div>
<!--End Breadcumb area -->


<meta itemprop="url" content="https://fashe-theme.myshopify.com/products/boxy-t-shirt-with-roll-sleeve-detail">
<meta itemprop="image" content="//cdn.shopify.com/s/files/1/2672/5778/products/item-03_grande.jpg?v=1514269273">
<!-- Product Detail -->
<div class="container bgwhite p-t-35 p-b-80">
  <div class="flex-w flex-sb">
    <div class="w-size13 p-t-30 respon5">
      <div class="wrap-slick3 flex-sb flex-w">
        <div class="wrap-slick3-dots"></div>

        <div class="slick3">
          <% @product.images.each do |image| %>
          <div class="item-slick3" data-thumb="<%= url_for(image) %>">
            <div class="wrap-pic-w">
              <%= image_tag image , :alt => "@product.productname" %>
            </div>
          </div>
          <% end %>          

        </div>
      </div>
    </div>

    <div class="w-size14 p-t-30 respon5">
      <h4 class="product-detail-name m-text16 p-b-13">
        <%= @product.productname %>
      </h4>
      <% giaban = @product.price %>
          <% giagoc = @product.originalpride %>
      <span id="comparePrice" class="m-text17" style="text-decoration: line-through;">
        <span class=money>
        <% if giagoc %> 
                  <%= giagoc =(giagoc*23000).to_i 
                  "#{giagoc} ₫"
                  %>
                  <% end %> 
      </span>
      </span>
      <span id="productPrice" class="m-text17" style="<%=  giagoc ? 'color: #e65540;' : '' %>">
        <span class=money><%= "#{giaban*23000} ₫" %></span>
      </span>

      


      <p class="s-text8 p-t-10">
        Fusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed velit. Proin gravida arcu....
      </p>

      <!--  -->
      <div class="p-t-33 p-b-60">
          <div class="flex-m flex-w p-b-10">
            <div class="s-text15 w-size15 t-center">
              Size
            </div>

            <div class="rs2-select2 rs3-select2 bo4 of-hidden w-size16">
              <select class="selection-2 select2-hidden-accessible" name="size" tabindex="-1" aria-hidden="true">
                <option>Choose an option</option>
                <option>Size S</option>
                <option>Size M</option>
                <option>Size L</option>
                <option>Size XL</option>
              </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 148px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-size-ue-container"><span class="select2-selection__rendered" id="select2-size-ue-container" title="Choose an option">Choose an option</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
            </div>
          </div>

          <div class="flex-m flex-w">
            <div class="s-text15 w-size15 t-center">
              Color
            </div>

            <div class="rs2-select2 rs3-select2 bo4 of-hidden w-size16">
              <select class="selection-2 select2-hidden-accessible" name="color" tabindex="-1" aria-hidden="true">
                <option>Choose an option</option>
                <option>Gray</option>
                <option>Red</option>
                <option>Black</option>
                <option>Blue</option>
              </select><span class="select2 select2-container select2-container--default select2-container--below" dir="ltr" style="width: 148px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-color-09-container"><span class="select2-selection__rendered" id="select2-color-09-container" title="Choose an option">Choose an option</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
            </div>
          </div>

          <div class="flex-r-m flex-w p-t-10">
            <div class="w-size16 flex-m flex-w">
              <div class="flex-w bo5 of-hidden m-r-22 m-t-10 m-b-10">
                <button class="btn-num-product-down color1 flex-c-m size7 bg8 eff2">
                  <i class="fs-12 fa fa-minus" aria-hidden="true"></i>
                </button>

                <input class="size8 m-text18 t-center num-product" type="number" name="num-product" value="1">

                <button class="btn-num-product-up color1 flex-c-m size7 bg8 eff2">
                  <i class="fs-12 fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>

              <div class="btn-addcart-product-detail size9 trans-0-4 m-t-10 m-b-10">
                <!-- Button -->
                <button class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4">
                  Add to Cart
                </button>
              </div>
            </div>
          </div>
        </div>

      <div class="p-b-45">
        
        <span class="s-text8 m-r-35">Brand: MyVendor</span> 
        
        <span class="s-text8"> 
          Categories: 
          
          
          <a href="/collections/all/boxy">boxy</a>
          , 
          
          
          
          
          
          
          
          <a href="/collections/all/Shirts">Shirts</a>
          , 
          
          
          
          
          
          
          
          
          
          
          
          <a href="/collections/all/sleeveless">sleeveless</a>
          
          
          
        </span>
      </div>

      <!--  -->
      <div class="wrap-dropdown-content bo6 p-t-15 p-b-14 active-dropdown-content">
        <h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
          Description
          <i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
          <i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
        </h5>

        <div class="dropdown-content dis-none p-t-15 p-b-23">
          <p class="s-text8">
            <p class="s-text8">Fusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed velit. Proin gravida arcu nisl, a dignissim mauris placerat</p>
<p class="s-text8">Fusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed velit. Proin gravida arcu nisl, a dignissim mauris placerat</p>
<p class="s-text8">Fusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed velit. Proin gravida arcu nisl, a dignissim mauris placerat</p>
          </p>
        </div>
      </div>
      
      <div class="wrap-dropdown-content bo7 p-t-15 p-b-14">
        <h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
          Additional Information
          <i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
          <i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
        </h5>
        <div class="dropdown-content dis-none p-t-15 p-b-23">
          <p class="s-text8">
            <p>You can use this tab for adding shipping details, return policies and information or measurements etc. </p>
<p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi</p>
          </p>
        </div>
      </div>
      
      
      <div class="wrap-dropdown-content bo7 p-t-15 p-b-14">
        <h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
          Reviews
          <i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
          <i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
        </h5>

        <div class="dropdown-content dis-none p-t-15 p-b-23">
          <p class="s-text8">
            <div id="shopify-product-reviews" data-id="631860592682"></div>

          </p>
        </div>
      </div>
      
    </div>
  </div>
</div>




<section class="relateproduct bgwhite p-t-45 p-b-138">
  <div class="container">
    
    <!--Featured Product Area Start-->
    <div class="sec-title p-b-60">
      <h3 class="m-text5 t-center">
        Related Products
      </h3>
    </div>
    <div class="wrap-slick2">
      <div class="slick2">

        
        
        
        
        
        <div class="item-slick2 p-l-15 p-r-15">
          







<!-- Block2 -->
<div class="block2">
  
  
  
  <div class="block2-img wrap-pic-w of-hidden pos-relative  ">
    <a href="/collections/best-seller/products/boxy7-t-shirt-with-roll-sleeve">
      <img class="" src="//cdn.shopify.com/s/files/1/2672/5778/products/item-15_7ca55ba5-301e-4461-92ea-68c8b02e35e7_1200x1600.jpg?v=1515096104" alt="Boxy7 T-Shirt with Roll Sleeve">
    </a>
    <div class="block2-overlay trans-0-4">
      <a href="/products/boxy7-t-shirt-with-roll-sleeve" class="block2-btn-addwishlist hov-pointer trans-0-4">
        <!-- <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i> -->
      </a>
      <div class="block2-btn-addcart w-size1 trans-0-4">
        <!-- Button -->
        <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" data-toggle="tooltip" data-loading-text="Loading..." title="Add to Cart" onclick="cart.add('8772548722730', 'Boxy7 T-Shirt with Roll Sleeve');">
          Add to Cart
        </button>
      </div>
    </div>
  </div>
  <div class="block2-txt p-t-20">
    <a href="/collections/best-seller/products/boxy7-t-shirt-with-roll-sleeve" class="block2-name dis-block s-text3 p-b-5">
      Boxy7 T-Shirt with Roll Sleeve
    </a>
    
    <span class="block2-price m-text6 p-r-5">
      <span class=money>$20.00</span>
    </span>
    
  </div>
</div>

        </div>
        
        
        
        
        
        <div class="item-slick2 p-l-15 p-r-15">
          







<!-- Block2 -->
<div class="block2">
  
  
  
  <div class="block2-img wrap-pic-w of-hidden pos-relative  ">
    <a href="/collections/best-seller/products/boxy6-t-shirt-with-roll-sleeve">
      <img class="" src="//cdn.shopify.com/s/files/1/2672/5778/products/item-13_d77ff6ee-7735-4f22-a436-1ac6b9ccabd6_1200x1600.jpg?v=1515096032" alt="Boxy6 T-Shirt with Roll Sleeve">
    </a>
    <div class="block2-overlay trans-0-4">
      <a href="/products/boxy6-t-shirt-with-roll-sleeve" class="block2-btn-addwishlist hov-pointer trans-0-4">
        <!-- <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i> -->
      </a>
      <div class="block2-btn-addcart w-size1 trans-0-4">
        <!-- Button -->
        <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" data-toggle="tooltip" data-loading-text="Loading..." title="Add to Cart" onclick="cart.add('8772474896426', 'Boxy6 T-Shirt with Roll Sleeve');">
          Add to Cart
        </button>
      </div>
    </div>
  </div>
  <div class="block2-txt p-t-20">
    <a href="/collections/best-seller/products/boxy6-t-shirt-with-roll-sleeve" class="block2-name dis-block s-text3 p-b-5">
      Boxy6 T-Shirt with Roll Sleeve
    </a>
    
    <span class="block2-price m-text6 p-r-5">
      <span class=money>$20.00</span>
    </span>
    
  </div>
</div>

        </div>
        
        
        
        
        
        <div class="item-slick2 p-l-15 p-r-15">
          







<!-- Block2 -->
<div class="block2">
  
  
  
  <div class="block2-img wrap-pic-w of-hidden pos-relative  ">
    <a href="/collections/best-seller/products/boxy5-t-shirt-with-roll-sleeve">
      <img class="" src="//cdn.shopify.com/s/files/1/2672/5778/products/item-04_bcfb0f5a-4eff-46f0-992d-b73eb1b4b88e_1200x1600.jpg?v=1515095994" alt="Boxy5 T-Shirt with Roll Sleeve">
    </a>
    <div class="block2-overlay trans-0-4">
      <a href="/products/boxy5-t-shirt-with-roll-sleeve" class="block2-btn-addwishlist hov-pointer trans-0-4">
        <!-- <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i> -->
      </a>
      <div class="block2-btn-addcart w-size1 trans-0-4">
        <!-- Button -->
        <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" data-toggle="tooltip" data-loading-text="Loading..." title="Add to Cart" onclick="cart.add('8772428103722', 'Boxy5 T-Shirt with Roll Sleeve');">
          Add to Cart
        </button>
      </div>
    </div>
  </div>
  <div class="block2-txt p-t-20">
    <a href="/collections/best-seller/products/boxy5-t-shirt-with-roll-sleeve" class="block2-name dis-block s-text3 p-b-5">
      Boxy5 T-Shirt with Roll Sleeve
    </a>
    
    <span class="block2-price m-text6 p-r-5">
      <span class=money>$20.00</span>
    </span>
    
  </div>
</div>

        </div>
        
        
        
        
        
        <div class="item-slick2 p-l-15 p-r-15">
          







<!-- Block2 -->
<div class="block2">
  
  
  
  <div class="block2-img wrap-pic-w of-hidden pos-relative  ">
    <a href="/collections/best-seller/products/boxy4-t-shirt-with-roll-sleeve">
      <img class="" src="//cdn.shopify.com/s/files/1/2672/5778/products/item-11_fa17bbd7-4f67-488d-930a-f5e6ece4e595_1200x1600.jpg?v=1514273806" alt="Boxy4 T-Shirt with Roll Sleeve">
    </a>
    <div class="block2-overlay trans-0-4">
      <a href="/products/boxy4-t-shirt-with-roll-sleeve" class="block2-btn-addwishlist hov-pointer trans-0-4">
        <!-- <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i> -->
      </a>
      <div class="block2-btn-addcart w-size1 trans-0-4">
        <!-- Button -->
        <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" data-toggle="tooltip" data-loading-text="Loading..." title="Add to Cart" onclick="cart.add('8254157553706', 'Boxy4 T-Shirt with Roll Sleeve');">
          Add to Cart
        </button>
      </div>
    </div>
  </div>
  <div class="block2-txt p-t-20">
    <a href="/collections/best-seller/products/boxy4-t-shirt-with-roll-sleeve" class="block2-name dis-block s-text3 p-b-5">
      Boxy4 T-Shirt with Roll Sleeve
    </a>
    
    <span class="block2-price m-text6 p-r-5">
      <span class=money>$20.00</span>
    </span>
    
  </div>
</div>

        </div>
        
        
        
        
        
        <div class="item-slick2 p-l-15 p-r-15">
          







<!-- Block2 -->
<div class="block2">
  
  
  
  <div class="block2-img wrap-pic-w of-hidden pos-relative   block2-labelsale">
    <a href="/collections/best-seller/products/boxy3-t-shirt-with-roll-sleeve">
      <img class="" src="//cdn.shopify.com/s/files/1/2672/5778/products/item-16_84f06345-b149-4331-9957-2d65c6b87584_1200x1600.jpg?v=1514273770" alt="Boxy3 T-Shirt with Roll Sleeve">
    </a>
    <div class="block2-overlay trans-0-4">
      <a href="/products/boxy3-t-shirt-with-roll-sleeve" class="block2-btn-addwishlist hov-pointer trans-0-4">
        <!-- <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i> -->
      </a>
      <div class="block2-btn-addcart w-size1 trans-0-4">
        <!-- Button -->
        <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" data-toggle="tooltip" data-loading-text="Loading..." title="Add to Cart" onclick="cart.add('8254128029738', 'Boxy3 T-Shirt with Roll Sleeve');">
          Add to Cart
        </button>
      </div>
    </div>
  </div>
  <div class="block2-txt p-t-20">
    <a href="/collections/best-seller/products/boxy3-t-shirt-with-roll-sleeve" class="block2-name dis-block s-text3 p-b-5">
      Boxy3 T-Shirt with Roll Sleeve
    </a>
    
    <span class="block2-oldprice m-text7 p-r-5">
      <span class=money>$30.00</span>
    </span>
    <span class="block2-newprice m-text8 p-r-5">
      <span class=money>$20.00</span>
    </span>
    
  </div>
</div>

        </div>
        
        
        
        
        
        <div class="item-slick2 p-l-15 p-r-15">
          







<!-- Block2 -->
<div class="block2">
  
  
  
  <div class="block2-img wrap-pic-w of-hidden pos-relative  ">
    <a href="/collections/best-seller/products/boxy2-t-shirt-with-roll-sleeve">
      <img class="" src="//cdn.shopify.com/s/files/1/2672/5778/products/item-12_e8f7bcc1-8e0a-4966-80fd-3d38fcc28a1e_1200x1600.jpg?v=1514273438" alt="Boxy2 T-Shirt with Roll Sleeve">
    </a>
    <div class="block2-overlay trans-0-4">
      <a href="/products/boxy2-t-shirt-with-roll-sleeve" class="block2-btn-addwishlist hov-pointer trans-0-4">
        <!-- <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i> -->
      </a>
      <div class="block2-btn-addcart w-size1 trans-0-4">
        <!-- Button -->
        <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" data-toggle="tooltip" data-loading-text="Loading..." title="Add to Cart" onclick="cart.add('8253823418410', 'Boxy2 T-Shirt with Roll Sleeve');">
          Add to Cart
        </button>
      </div>
    </div>
  </div>
  <div class="block2-txt p-t-20">
    <a href="/collections/best-seller/products/boxy2-t-shirt-with-roll-sleeve" class="block2-name dis-block s-text3 p-b-5">
      Boxy2 T-Shirt with Roll Sleeve
    </a>
    
    <span class="block2-price m-text6 p-r-5">
      <span class=money>$20.00</span>
    </span>
    
  </div>
</div>

        </div>
        
        
        
        
        
        <div class="item-slick2 p-l-15 p-r-15">
          







<!-- Block2 -->
<div class="block2">
  
  
  
  <div class="block2-img wrap-pic-w of-hidden pos-relative  ">
    <a href="/collections/best-seller/products/boxy1-t-shirt-with-roll-sleeve">
      <img class="" src="//cdn.shopify.com/s/files/1/2672/5778/products/item-10_928bd293-fd66-4b11-af8f-8e118c77549a_1200x1600.jpg?v=1514273397" alt="Boxy1 T-Shirt with Roll Sleeve">
    </a>
    <div class="block2-overlay trans-0-4">
      <a href="/products/boxy1-t-shirt-with-roll-sleeve" class="block2-btn-addwishlist hov-pointer trans-0-4">
        <!-- <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
        <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i> -->
      </a>
      <div class="block2-btn-addcart w-size1 trans-0-4">
        <!-- Button -->
        <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" data-toggle="tooltip" data-loading-text="Loading..." title="Add to Cart" onclick="cart.add('8253797335082', 'Boxy1 T-Shirt with Roll Sleeve');">
          Add to Cart
        </button>
      </div>
    </div>
  </div>
  <div class="block2-txt p-t-20">
    <a href="/collections/best-seller/products/boxy1-t-shirt-with-roll-sleeve" class="block2-name dis-block s-text3 p-b-5">
      Boxy1 T-Shirt with Roll Sleeve
    </a>
    
    <span class="block2-price m-text6 p-r-5">
      <span class=money>$20.00</span>
    </span>
    
  </div>
</div>

        </div>
        
        
        
        
        
        
        
      </div>
    </div>
    <!--End of Featured Product Area-->
    
  </div>
</section>

<script src="//cdn.shopify.com/s/assets/themes_support/option_selection-ea4f4a242e299f2227b2b8038152223f741e90780c0c766883939e8902542bda.js" type="text/javascript"></script>
<script>

  // Pre-loading product images, to avoid a lag when a thumbnail is clicked, or
  // when a variant is selected that has a variant image.
  Shopify.Image.preload(["\/\/cdn.shopify.com\/s\/files\/1\/2672\/5778\/products\/item-03.jpg?v=1514269273","\/\/cdn.shopify.com\/s\/files\/1\/2672\/5778\/products\/item-10.jpg?v=1514269274","\/\/cdn.shopify.com\/s\/files\/1\/2672\/5778\/products\/item-11.jpg?v=1514269276","\/\/cdn.shopify.com\/s\/files\/1\/2672\/5778\/products\/item-12.jpg?v=1514269278","\/\/cdn.shopify.com\/s\/files\/1\/2672\/5778\/products\/item-13.jpg?v=1514269279","\/\/cdn.shopify.com\/s\/files\/1\/2672\/5778\/products\/item-15.jpg?v=1514269281","\/\/cdn.shopify.com\/s\/files\/1\/2672\/5778\/products\/item-16.jpg?v=1514269283","\/\/cdn.shopify.com\/s\/files\/1\/2672\/5778\/products\/item-04.jpg?v=1514269285"], '700x933');

                        var selectCallback = function(variant, selector) {

    var $addToCart = $('#button-cart'),
        $productPrice = $('#productPrice'),
        $comparePrice = $('#comparePrice'),
        $variantQuantity = $('#variantQuantity'),
        $quantityElements = $('.quantity-selector, label + .js-qty'),
        $addToCartText = $('#addToCartText'),
        $featuredImage = $('#productPhotoImg');
    if (variant) {
      // Update variant image, if one is set
      // Call timber.switchImage function in shop.js
      if (variant.featured_image) {
        var newImg = variant.featured_image,
            el = $featuredImage[0];
        $(function() {
          Shopify.Image.switchImage(newImg, el, timber.switchImage);
          
        });
      }

      // Select a valid variant if available
      if (variant.available) {
        // We have a valid product variant, so enable the submit button
        $addToCart.removeClass('disabled').prop('disabled', false);
        $addToCartText.html("Add to Cart");
        $quantityElements.show();

        // Show how many items are left, if below 10
        
        if (variant.inventory_management) {
          if (variant.inventory_quantity < 10 && variant.inventory_quantity > 0) {
            $variantQuantity.html("Only 1 left!".replace('1', variant.inventory_quantity)).addClass('is-visible');
          } else if (variant.inventory_quantity <= 0 && variant.incoming) {
            $variantQuantity.html("Will not ship until [date]".replace('[date]', variant.next_incoming_date)).addClass('is-visible');
          } else {
            $variantQuantity.removeClass('is-visible');
          }
        }
        else {
          $variantQuantity.removeClass('is-visible');
        }
        

      } else {
        // Variant is sold out, disable the submit button
        $addToCart.addClass('disabled').prop('disabled', true);
        $addToCartText.html("Sold Out");
        $variantQuantity.removeClass('is-visible');
        if (variant.incoming) {
          $variantQuantity.html("Will be in stock after [date]".replace('[date]', variant.next_incoming_date)).addClass('is-visible');
        }
        else {
          $variantQuantity.addClass('hide');
        }
        $quantityElements.hide();
      }

      // Regardless of stock, update the product price
      Shopify.money_format = '<span class=money>${{amount}}</span>'; 

      //var customPrice = timber.formatMoney( Shopify.formatMoney(variant.price,Shopify.money_format) );
      var a11yPrice = Shopify.formatMoney(variant.price, Shopify.money_format);
      // var customPriceFormat = ' <span aria-hidden="true">' + customPrice + '</span>';
      var customPriceFormat = ' <span class="visually-hidden">' + a11yPrice + '</span>';

      
      if (variant.compare_at_price > variant.price) {
        //var comparePrice = timber.formatMoney(Shopify.formatMoney(variant.compare_at_price, Shopify.money_format));

        var a11yComparePrice = Shopify.formatMoney(variant.compare_at_price, Shopify.money_format);
        //customPriceFormat = ' <span aria-hidden="true">' + customPrice + '</span>';
        //customPriceFormat += ' <span aria-hidden="true"><s>' + comparePrice + '</s></span>';
        //customPriceFormat += ' <span class="visually-hidden old-price">' + a11yComparePrice + '</span>';
        /*customPriceFormat += ' <span class="visually-hidden"><span class="visually-hidden">translation missing: en.products.general.sale_price</span> ' + a11yPrice + '</span>';*/
      }
      
      $productPrice.html(customPriceFormat);

      // Also update and show the product's compare price if necessary
      if ( variant.compare_at_price > variant.price ) {
        // var priceSaving = timber.formatSaleTag( Shopify.formatMoney(variant.compare_at_price - variant.price, '<span class=money>${{amount}}</span>') );
        
        //$comparePrice.html("Save [$]".replace('[$]', priceSaving)).show();
      } else {
        $comparePrice.hide();
      }

      
      var defaultCurrency = 'USD';
      var shopCurrency = 'USD';
      var cookieCurrency = Currency.cookie.read();
      if (cookieCurrency == null) {
        Currency.convertAll(shopCurrency, defaultCurrency);
      } else {
        Currency.convertAll(shopCurrency, cookieCurrency);
      }    
      

    } else {
      // The variant doesn't exist, disable submit button.
      // This may be an error or notice that a specific variant is not available.
      $addToCart.addClass('disabled').prop('disabled', true);
      $addToCartText.html("Unavailable");
      $variantQuantity.removeClass('is-visible');
      $quantityElements.hide();
    }
    if (variant && variant.featured_image) {
      var originalImage = $(".thumbnails img");
      var newImage = variant.featured_image;
      var element = originalImage[0];
      Shopify.Image.switchImage(newImage, element, function (newImageSizedSrc, newImage, element) {
        $(element).parents('a').attr('href', newImageSizedSrc);
        $(element).attr('src', newImageSizedSrc);
        $('.thumbnails .zoomWindowContainer div').css('background-image','url('+newImageSizedSrc+')');
      });
    }
    // BEGIN SWATCHES
    if (variant) {
      var form = $('#' + selector.domIdPrefix).closest('form');
      for (var i=0,length=variant.options.length; i<length; i++) {
        var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
        if (radioButton.size()) {
          radioButton.get(0).checked = true;
        }
      }
    }
    // END SWATCHES
  };

  jQuery(function($) {
    var product = {"id":631860592682,"title":"Boxy T-Shirt with Roll Sleeve Detail","handle":"boxy-t-shirt-with-roll-sleeve-detail","description":"\u003cp class=\"s-text8\"\u003eFusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed velit. Proin gravida arcu nisl, a dignissim mauris placerat\u003c\/p\u003e\n\u003cp class=\"s-text8\"\u003eFusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed velit. Proin gravida arcu nisl, a dignissim mauris placerat\u003c\/p\u003e\n\u003cp class=\"s-text8\"\u003eFusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed velit. Proin gravida arcu nisl, a dignissim mauris placerat\u003c\/p\u003e","published_at":"2017-12-26T01:13:04-05:00","created_at":"2017-12-26T01:21:08-05:00","vendor":"MyVendor","type":"Shirts","tags":["boxy","price_0-20","price_20-40","Shirts","size_L","size_M","size_S","size_XL","sleeveless"],"price":2000,"price_min":2000,"price_max":5000,"available":true,"price_varies":true,"compare_at_price":null,"compare_at_price_min":0,"compare_at_price_max":0,"compare_at_price_varies":false,"variants":[{"id":8250556252202,"title":"S","option1":"S","option2":null,"option3":null,"sku":"","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"Boxy T-Shirt with Roll Sleeve Detail - S","public_title":"S","options":["S"],"price":2000,"weight":0,"compare_at_price":null,"inventory_management":null,"barcode":""},{"id":8250610122794,"title":"M","option1":"M","option2":null,"option3":null,"sku":"","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"Boxy T-Shirt with Roll Sleeve Detail - M","public_title":"M","options":["M"],"price":3000,"weight":0,"compare_at_price":null,"inventory_management":null,"barcode":""},{"id":8250610155562,"title":"L","option1":"L","option2":null,"option3":null,"sku":"","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"Boxy T-Shirt with Roll Sleeve Detail - L","public_title":"L","options":["L"],"price":4000,"weight":0,"compare_at_price":null,"inventory_management":null,"barcode":""},{"id":8250610188330,"title":"XL","option1":"XL","option2":null,"option3":null,"sku":"","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"Boxy T-Shirt with Roll Sleeve Detail - XL","public_title":"XL","options":["XL"],"price":5000,"weight":0,"compare_at_price":null,"inventory_management":null,"barcode":""}],"images":["\/\/cdn.shopify.com\/s\/files\/1\/2672\/5778\/products\/item-03.jpg?v=1514269273","\/\/cdn.shopify.com\/s\/files\/1\/2672\/5778\/products\/item-10.jpg?v=1514269274","\/\/cdn.shopify.com\/s\/files\/1\/2672\/5778\/products\/item-11.jpg?v=1514269276","\/\/cdn.shopify.com\/s\/files\/1\/2672\/5778\/products\/item-12.jpg?v=1514269278","\/\/cdn.shopify.com\/s\/files\/1\/2672\/5778\/products\/item-13.jpg?v=1514269279","\/\/cdn.shopify.com\/s\/files\/1\/2672\/5778\/products\/item-15.jpg?v=1514269281","\/\/cdn.shopify.com\/s\/files\/1\/2672\/5778\/products\/item-16.jpg?v=1514269283","\/\/cdn.shopify.com\/s\/files\/1\/2672\/5778\/products\/item-04.jpg?v=1514269285"],"featured_image":"\/\/cdn.shopify.com\/s\/files\/1\/2672\/5778\/products\/item-03.jpg?v=1514269273","options":["Size"],"content":"\u003cp class=\"s-text8\"\u003eFusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed velit. Proin gravida arcu nisl, a dignissim mauris placerat\u003c\/p\u003e\n\u003cp class=\"s-text8\"\u003eFusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed velit. Proin gravida arcu nisl, a dignissim mauris placerat\u003c\/p\u003e\n\u003cp class=\"s-text8\"\u003eFusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed velit. Proin gravida arcu nisl, a dignissim mauris placerat\u003c\/p\u003e"};
    
    
    product.variants[0].incoming = false;
    product.variants[0].next_incoming_date = null;
    
    product.variants[1].incoming = false;
    product.variants[1].next_incoming_date = null;
    
    product.variants[2].incoming = false;
    product.variants[2].next_incoming_date = null;
    
    product.variants[3].incoming = false;
    product.variants[3].next_incoming_date = null;
    
    

    new Shopify.OptionSelectors('productSelect', {
      product: product,
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    
    $('.selector-wrapper:eq(0)').prepend('<label>Size</label>');
                                         
                                         /* Hide selectors if we only have 1 variant and its title contains 'Default'. */
                                         
    $('#variantBreak').removeClass('hr--clear');
    
    //$('.selector-wrapper').hide();
  }); 
</script>
      <!-- End Content -->  

      <!-- Quickview Product-->
<div id="quickview-wrapper">
  <!-- Modal -->
  <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="modal-product">
            <!-- Start product images -->
            <div class="product-images">
              <div class="main-image images">
                <img alt="" src="" class="img-responsive">
              </div>
            </div>
            <!-- end product images -->
            <div class="product-info">
              <h1>Sleeve High Neck Bodycon Dress </h1>
              <div class="price-box">
                <p class="price"><span class="special-price"><span class="amount">$132.00</span></span></p>
              </div>
              <a href="shop.html" class="see-all">See all features</a>
              <div class="quick-add-to-cart">
                <form class="cart" action="/cart/add" method="post" enctype="multipart/form-data" id="addToCartForm">
                  <div class="numbers-row">
                    <input type="hidden" id="id" name="id" value="" />
                    <input type="number" name="quantity" id="quantity" value="1">
                  </div>
                  <button class="single_add_to_cart_button" type="submit">Add to Cart</button>
                </form>
              </div>
              <div class="quick-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero.
              </div>
              <div class="social-sharing">
                <div class="widget widget_socialsharing_widget">
                  <h3 class="widget-title-modal">Share this product</h3>
                  <ul class="social-icons">
                    <li><a target="_blank" title="Facebook" href="#" class="facebook social-icon"><i class="fa fa-facebook"></i></a></li>
                    <li><a target="_blank" title="Twitter" href="#" class="twitter social-icon"><i class="fa fa-twitter"></i></a></li>
                    <li><a target="_blank" title="Pinterest" href="#" class="pinterest social-icon"><i class="fa fa-pinterest"></i></a></li>
                    <li><a target="_blank" title="Google +" href="#" class="gplus social-icon"><i class="fa fa-google-plus"></i></a></li>
                    <li><a target="_blank" title="LinkedIn" href="#" class="linkedin social-icon"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- .product-info -->
          </div>
          <!-- .modal-product -->
        </div>
        <!-- .modal-body -->
      </div>
      <!-- .modal-content -->
    </div>
    <!-- .modal-dialog -->
  </div>
  <!-- END Modal -->
</div>
<!-- End Quickview Product --> 
