<%= form_with(model: [ @message.room, @message ]) do |form| %>
  <% if @message.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
        <% @message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_field :content %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
