<form class="product_search" id="product_search" action="/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
  <input type="search" name="q[productname_cont]" id="q_productname_cont" />
  <input type="submit" name="commit" value="Search" data-disable-with="Search" />
</form>


<h1>Kết quả tìm kiếm cho <%= %></h1>


<table border="1">
  <tr>
    <th>id sản phẩm:</th>
    <th>Tên Sản Phẩm:</th> 
    <th>Avatar:</th>  
    <th>Images:</th>  
    <th>Giá bán:</th>
    <th>Giá gốc:</th>
    <th>Màu - color:</th>
    <th>Dòng franchise:</th>
    <th>Loại producttype:</th>
    <th>Nhãn brand:</th>
    <th>Danh mục category:</th>
    <th>Môn sport:</th>
    <th>sku:</th>
    <th>In stock:</th>
</tr>

<% @products.each do |product| %>
<tr>

    <td><%= product.id %></td>
    <td><%= product.productname %></td>
    <td>
        <% if product.stock.zero? %>
            Out of stock
    <% else %>
    <%= image_tag product.avatar, :height => "100",:width=>"100" %>
        <%= form_for product, :url => cart_items_path, :html => { :method => :post } do |f|%>
        <%= f.number_field :quantity, value: 1, class: "number-tag", min: 1 %>
      <%= f.hidden_field :product_id, value: product.id %>
      <%= f.submit 'Add to Cart', class: "btn btn-success" %>
<% end %>
<% end %>
<%= form_for product, :url => wish_items_path, :html => { :method => :post } do |f|%>
      <%= f.hidden_field :product_id, value: product.id %>
      <%= f.submit @wish.wish_items.find_by(product_id: product.id) ? 'Remove from Wish' : 'Add to Wish', class: "btn btn-success" %>    
<% end %>
    </td>
    <td>
        <% product.images.each do |image| %>
        <%= image_tag image , :height => "50",:width=>"50" %>
        <% end %> 
    </td>
    <td><%= product.price %></td>
    <td><%= product.originalpride %></td>
    <td>
        <%= product.subcolor_id && product.color_id  ? product.color.subcolors.find(product.subcolor_id).subcolor_name : '' %>
        <%= !product.subcolor_id && product.color_id  ? product.color.color_name : '' %>  
        <%= !product.subcolor_id && !product.color_id  ? '' : '' %> 
        <%= product.subcolor_id && !product.color_id  ?  'có subcolor nhưng ko có color' : '' %> 
    </td>

    <td><%= product.franchise_id ? product.franchise.franchise_name: '' %></td>
    <td><%= product.producttype_id ? product.producttype.producttype_name: '' %></td>
    <td><%= product.brand_id ? product.brand.brand_name: '' %></td>
    <td>
        <%= product.subcategory_id && product.category_id  ? product.category.subcategories.find(product.subcategory_id).subcategory_name : '' %>
        <%= !product.subcategory_id && product.category_id  ? product.category.category_name : '' %>  
        <%= !product.subcategory_id && !product.category_id  ? '' : '' %> 
        <%= product.subcategory_id && !product.category_id  ?  'có subcategory nhưng ko có category' : '' %> 
    </td>
    <td><%= product.sport_id ? product.sport.sport_name: '' %></td>
    <td><%= product.sku %></td>
    <td><%= product.stock %></td>
    <td><%= link_to 'Xem', product_path(product) %></td>
    <% if current_user.try(:admin?) %>
    <td><%= link_to 'Sửa', edit_product_path(product) %></td>
    <td><%= link_to 'Xóa', product_path(product),
    method: :delete,
    data: { confirm: 'Bạn có chắc không?' } %></td>
    <% end %>
</tr>
<% end %>
</table>
