<h1>Listing orders</h1>
<%= link_to 'New order', new_admin_order_path %>
<%= paginate @orders %>
<%= page_entries_info @orders, entry_name: 'item' %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">User</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <% @orders.order(:id).each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.user.name %></td>
      <td><%= order.email %></td>
      <td><%= link_to 'Edit', edit_admin_order_path(order) %></td>
      <td>
        <% if current_order.id != order.id %>
        <%= link_to 'Delete', admin_order_path(order),
                remote: true,
                method: :delete,
                data: { confirm: 'You sure?' },
                class: "order-#{order.id}" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to 'Back', admin_root_path %>
