<div class="customer-sidebar col-xl-3 col-lg-4 mb-md-5">
  <div class="customer-profile"><a href="#" class="d-inline-block"><img src="https://d19m59y37dris4.cloudfront.net/hub/1-4-2/img/person-3.jpg" class="img-fluid rounded-circle customer-image"></a>
    <h5><%= current_user.name %></h5>
    <p class="text-muted text-small">Ostrava, Czech republic</p>
  </div>
  <nav class="list-group customer-nav">

    <a href="<%= url_for(my_account_path) %>" class="<%= is_active_controller("users") %> list-group-item d-flex justify-content-between align-items-center"><span><span class="icon icon-profile"></span>Profile</span></a>

    <a href="<%= url_for(orders_path) %>" class="<%= is_active_controller("orders") %> list-group-item d-flex justify-content-between align-items-center"><span><span class="icon icon-bag"></span>Orders</span><small class="badge badge-pill badge-primary">5</small></a>

    <a href="<%= url_for(addresses_path) %>" class="<%= is_active_controller("addresses") %> list-group-item d-flex justify-content-between align-items-center"><span><span class="icon icon-map"></span>Addresses</span></a>

  <%= link_to logout_path, method: :delete, class: "list-group-item d-flex justify-content-between align-items-center" do %>
    <span><span class="fa fa-sign-out"></span>Log out</span>
  <% end %>
  </nav>
</div>
