<!-- Product-->
<div class="item">
  <div class="row d-flex align-items-center">
    <div class="col-5">
      <div class="d-flex align-items-center"><%= image_tag wish_item.variant.images.first, alt: "...", class: "img-fluid" %>
        <div class="title"><a href="<%= url_for(wish_item.product)<<"?variant=#{wish_item&.variant_id}" %>">
            <h5><%= wish_item.product.name %></h5><span class="text-muted">Size: Large</span></a></div>
      </div>
    </div>
    <div class="col-2"><span><%= number_to_currency(wish_item.variant.price) %></span></div>
    <%= link_to wish_item_url(wish_item), method: :delete, data: { confirm: "You sure?" } do %>
    <div class="col-1 text-center"><i class="delete fa fa-trash"></i></div>
    <% end %>
  </div>
</div>
