<!-- Hero Section-->
    <section class="hero hero-page gray-bg padding-small">
      <div class="container">
        <div class="row d-flex">
          <div class="col-lg-9 order-2 order-lg-1">
            <h1>Order #<%= @order.id %></h1><p class="lead">Order #<%= @order.id %> was placed on <strong><%= @order.created_at %></strong> and is currently <strong>Being prepared</strong>.</p><p class="text-muted">If you have any questions, please feel free to <a href="contact.html">contact us</a>, our customer service center is working for you 24/7.</p>
          </div>
          <div class="col-lg-3 text-right order-1 order-lg-2">
            <ul class="breadcrumb justify-content-lg-end">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item"><a href="<%= url_for(orders_path) %>">Orders</a></li>
              <li class="breadcrumb-item active">Order #<%= @order.id %></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="padding-small">
      <div class="container">
        <div class="row">
          <!-- Customer Sidebar-->
          <%= render 'users/sidebar' %>
          <div class="col-lg-8 col-xl-9 pl-lg-3">
            <div class="basket basket-customer-order">
              <div class="basket-holder">
                <div class="basket-header">
                  <div class="row">
                    <div class="col-6">Product</div>
                    <div class="col-2">Price</div>
                    <div class="col-2">Quantity</div>
                    <div class="col-2 text-right">Total</div>
                  </div>
                </div>
                <div class="basket-body">
                  <%= render @order.order_items %>
                </div>
                <div class="basket-footer">
                  <div class="item">
                    <div class="row">
                      <div class="offset-md-6 col-4"> <strong>ORIGINAL PRICE</strong></div>
                      <div class="col-2 text-right"><strong><%= number_to_currency(@order.total_originalvalue) %></strong></div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="row">
                      <div class="offset-md-6 col-4"> <strong>SALE</strong></div>
                      <div class="col-2 text-right"><strong><%= number_to_currency(@order.sale) %></strong></div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="row">
                      <div class="offset-md-6 col-4"> <strong>DELIVERY</strong></div>
                      <div class="col-2 text-right"><strong>FREE</strong></div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="row">
                      <div class="offset-md-6 col-4"> <strong>SALES TAX*</strong></div>
                      <div class="col-2 text-right"><strong>$5.04</strong></div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="row">
                      <div class="offset-md-6 col-4"> <strong>TOTAL</strong></div>
                      <div class="col-2 text-right"><strong><%= number_to_currency(@order.total_value+5.04) %></strong></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row addresses">
              <div class="col-sm-6">
                <div class="block-header">
                  <h6 class="text-uppercase">Invoice address</h6>
                </div>
                <div class="block-body">
                  <p>John Brown<br>         13/25 New Avenue<br>          New Heaven<br>          45Y 73J<br>         England<br>         Great Britain</p>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="block-header">
                  <h6 class="text-uppercase">Shipping address</h6>
                </div>
                <div class="block-body">
                  <p>John Brown<br>         13/25 New Avenue<br>          New Heaven<br>          45Y 73J<br>         England<br>         Great Britain</p>
                </div>
              </div>
            </div>
            <!-- /.addresses                           -->
          </div>
        </div>
      </div>
    </section>
