<li id="cart_item-<%= cart_item.id %>">
  <%= image_tag cart_item.variant.images.first, size: 50, size: "50x50" %>
  <span class="user"><%= link_to cart_item.product.name, cart_item.product %></span>
  <span class="content">
    <%= cart_item.quantity %>
  </span>
  <span class="timestamp">
    Added <%= time_ago_in_words(cart_item.created_at) %> ago.
    <%= link_to "delete", cart_item_url(cart_item), method: :delete,
                                     data: { confirm: "You sure?" } %>
  </span>
</li>
