<%= form_with model: [:admin, @product], local: true, class: "horizontal-form" do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :jan_code %>
    <%= f.text_field :jan_code, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :gender %>
    <%= f.select :gender, Product::GENDER, {prompt: "Select Gender"}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :franchise %>
    <%= f.select :franchise, Product::FRANCHISE, {prompt: "Select Franchise"}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :producttype %>
    <%= f.select :producttype, Product::PRODUCTTYPE, {prompt: "Select Producttype"}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :brand %>
    <%= f.select :brand, Product::BRAND, {prompt: "Select Brand"}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :category %>
    <%= f.select :category, Product::CATEGORY, {prompt: "Select Category"}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :sport %>
    <%= f.select :sport, Product::SPORT, {prompt: "Select Sport"}, class: "form-control" %>
  </div>

  <h2>Variants</h2>
  <div>
    <%= f.fields_for :variants, @variants do |variant_form| %>
      <%= render "variant_fields", f: variant_form, is_update: is_update %>
    <% end %>
    <div class="add-variant">
      <%= link_to_add_association 'Add Variant', f, :variants, render_options: {locals: { is_update: is_update }},
                                  class: "btn btn-sm btn-rounded btn-primary" %>
    </div>
    <ul id="item_name_list" class="item_list"></ul>
    <ul id="item_code_list" class="item_list"></ul>
  </div>

  <div class="actions">
    <%= link_to 'Back', admin_products_path %>
    <%= f.submit %>
  </div>
<% end %>
