<div class="col-md-2"><div class="nested-fields">

  <div class="form-group">
    <%= f.label 'price' %>
    <%= f.number_field :price, min: 1, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label 'originalprice' %>
    <%= f.number_field :originalprice, min: 1, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label 'sku' %>
    <%= f.number_field :sku, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label 'stock' %>
    <%= f.number_field :stock, min: 1, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label 'color' %>
    <%= f.select :color, Variant::COLOR, {prompt: "Select Color"}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label 'avatar' %>
    <%= f.file_field :avatar, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label 'hover' %>
    <%= f.file_field :hover, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label 'images' %>
    <%= f.file_field :images, multiple: true, class: "form-control" %>
  </div>

  <div class="form-group delete">
    <%= link_to_remove_association 'Remove Variant', f, class: "btn btn-sm btn-rounded btn-danger" %>
  </div>
</div>
</div>
