<div class="item col-xl-3 col-lg-4 col-md-6">
  <div class="product is-gray">
    <div class="image d-flex align-items-center justify-content-center">
      <div class="ribbon ribbon-primary text-uppercase">Sale</div><%= image_tag product.variants.first.avatar, alt: "product", class: "img-fluid" %>
      <div class="hover-overlay d-flex align-items-center justify-content-center">
        <div class="CTA d-flex align-items-center justify-content-center"><a href="#" class="add-to-cart"><i class="fa fa-shopping-cart"></i></a><a href="<%= url_for(product)<<"?variant=#{product&.variants&.first&.id}" %>" class="visit-product active"><i class="icon-search"></i>View</a><a href="#" data-toggle="modal" data-target="#exampleModal" class="quick-view"><i class="fa fa-arrows-alt"></i></a></div>
      </div>
    </div>
    <div class="title"><small class="text-muted">Men Wear</small><a href="<%= url_for(product)<<"?variant=#{product&.variants&.first&.id}" %>">
        <h3 class="h6 text-uppercase no-margin-bottom"><%= product.name %> <%= product.variants.first.color %></h3></a><span class="price text-muted">
            <%= number_to_currency(product.variants.first.price) %>
            <strike><%= number_to_currency(product.variants.first.originalprice) %></strike></span></div>
  </div>
</div>
