<div style="text-align: center;">
  <p><strong>id sản phẩm:</strong><%= @product.id %></p>
  <p><strong>Tên Sản Phẩm:</strong><%= @product.productname %></p>
  <p><strong>Avatar:</strong><%= image_tag @product.avatar, :height => "100",:width=>"100" %></p>
  <p><strong>Images:</strong>
  <% @product.images.each do |image| %>
      <%= image_tag image , :height => "100",:width=>"100" %>
    <% end %></p>
  <p><strong>Giá bán:</strong><%= @product.price %></p>
  <p><strong>Giá gốc:</strong><%= @product.originalpride %></p>
  <p><strong>Màu:</strong>
 
        <%= @product.subcolor_id && @product.color_id  ? @product.color.subcolors.find(@product.subcolor_id).subcolor_name : '' %>
        <%= !@product.subcolor_id && @product.color_id  ? @product.color.color_name : '' %>  
        <%= !@product.subcolor_id && !@product.color_id  ? '' : '' %> 
        <%= @product.subcolor_id && !@product.color_id  ?  'có subcolor nhưng ko có color' : '' %> 

</p>

  <p><strong>Dòng sản phẩm:</strong>
  <%= @product.franchise_id ? @product.franchise.franchise_name : '' %></p>
  <p><strong>Loại sản phẩm:</strong>
  <%= @product.producttype_id ? @product.producttype.producttype_name : ''  %></p>
  <p><strong>Nhãn sản phẩm:</strong>
  <%= @product.brand_id ? @product.brand.brand_name : ''  %></p>
  <p><strong>Danh mục sản phẩm:</strong>

        <%= @product.subcategory_id && @product.category_id  ? @product.category.subcategories.find(@product.subcategory_id).subcategory_name : '' %>
        <%= !@product.subcategory_id && @product.category_id  ? @product.category.category_name : '' %>  
        <%= !@product.subcategory_id && !@product.category_id  ? '' : '' %> 
        <%= @product.subcategory_id && !@product.category_id  ?  'có subcategory nhưng ko có category' : '' %> </p>
     
  <p><strong>Môn:</strong>
  <%= @product.sport_id ? @product.sport.sport_name : ''  %></p>
  <p><strong>Sku:</strong>
  <%= @product.sku %></p>
  
<table class="centerTable" cellspacing="1" border="0"> 
  <% if @product.stock.zero? %>
            <tr><td>Out of stock</td>
    <% else %>
<tr>
  <td>
<%= select_tag :size, options_for_select((5..11).step(0.5)) , prompt: "SELECT SIZE" %>
    </td>
      <td>
        <%= form_for @product, :url => cart_items_path, :html => { :method => :post } do |f|%>
        <%= f.number_field :quantity, value: 1, class: "number-tag", min: 1, max: 15 %>
      </td>
</tr>
<tr>
<td>

      <%= f.hidden_field :product_id, value: @product.id %>
      
      <%= f.submit 'Add to Cart', class: "btn btn-success" %>
<% end %>
</td>
<% end %>
<td>
<%= form_for @product, :url => wish_items_path, :html => { :method => :post } do |f|%>
      <%= f.hidden_field :product_id, value: @product.id %>
      <%= f.submit @wish.wish_items.find_by(product_id: @product.id) ? 'Remove from Wish' : 'Add to Wish', class: "btn btn-success" %>    
<% end %>
</td>
</tr>
</table>

<style >
.number-tag {border:1;box-sizing: border-box;width: 100px;text-align: center;}
.centerTable { margin: 0px auto; }
td { padding: 5px; }
</style>



  

  <h2>Các bình luận - <%= @product.comments.count %></h2>
  <%= render @product.comments %>

  <h2>Thêm một bình luận:</h2>
  <%= render 'comments/form' %>
  <% if current_user.try(:admin?) %>
  <%= link_to 'Sửa', edit_product_path(@product) %> |
  <% end %>
  <%= link_to 'Trở lại', products_path %>
</div>

