<!-- Header -->
<header class="header1">
	<!-- Header desktop -->
	<div class="container-menu-header">
		<div class="topbar">
			<div class="topbar-social">
				<a href="#" class="topbar-social-item fa fa-facebook"></a>
				<a href="#" class="topbar-social-item fa fa-instagram"></a>
				<a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
				<a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
				<a href="#" class="topbar-social-item fa fa-youtube-play"></a>
			</div>

			<span class="topbar-child1">
				Free shipping for standard order over $100
			</span>

			<div class="topbar-child2">
				<span class="topbar-email">
					fashe@example.com
				</span>

				<div class="topbar-language rs1-select2">
					<select class="selection-1" name="time">
						<option>USD</option>
						<option>EUR</option>
					</select>
				</div>
			</div>
		</div>

		<div class="wrap_header">
			<!-- Logo -->
			<a href="/" class="logo">
				<img src="/assets/images/icons/logo.png" alt="IMG-LOGO">
			</a>

			<!-- Menu -->
			<div class="wrap_menu">
				<nav class="menu">
					<ul class="main_menu">
						<li  <%=  request.original_url=='http://localhost:3000/' ? CGI.unescapeHTML('class=&quot;sale-noti&quot;').html_safe : '' %>>
							<a href="/">Home</a>
						</li>

						<li  <%=  request.original_url=='http://localhost:3000/products' ? CGI.unescapeHTML('class=&quot;sale-noti&quot;').html_safe : '' %>>
							<a href="/products">Shop</a>
							<ul class="sub_menu">
								<li><a href="/products?category=shoes">Shoes</a></li>
								<li><%=link_to "shoes", products_path(category:"shoes")%> </li>
								<li><%=link_to"Women - Shoes - Originals",products_path(category:"women",brand:"originals",producttype:"footwear")%></li>
								<li><%=link_to"Women - Shoes",products_path(category:"women",producttype:"footwear")%></li>
							</ul>
						</li>

						<li  <%=  request.original_url=='http://localhost:3000/search' ? CGI.unescapeHTML('class=&quot;sale-noti&quot;').html_safe : '' %>>
							<a href="/search">Sale</a>
						</li>

						<li  <%=  request.original_url=='http://localhost:3000/pages/features' ? CGI.unescapeHTML('class=&quot;sale-noti&quot;').html_safe : '' %>>
							<a href="/pages/features">Features</a>
						</li>

						<li  <%=  request.original_url=='http://localhost:3000/blogs/news' ? CGI.unescapeHTML('class=&quot;sale-noti&quot;').html_safe : '' %>>
							<a href="/blogs/news">Blog</a>
						</li>

						<li  <%=  request.original_url=='http://localhost:3000/pages/about' ? CGI.unescapeHTML('class=&quot;sale-noti&quot;').html_safe : '' %>>
							<a href="/pages/about">About</a>
						</li>

						<li  <%=  request.original_url=='http://localhost:3000/pages/contact' ? CGI.unescapeHTML('class=&quot;sale-noti&quot;').html_safe : '' %>>
							<a href="/pages/contact">Contact</a>
						</li>
					</ul>
				</nav>
			</div>

			<!-- Header Icon -->
			<div class="header-icons">
				<a href="<%=  current_user ? '/users/edit' : '/users/sign_in' %>" class="header-wrapicon1 dis-block">
					<img src="/assets/images/icons/icon-header-01.png" class="header-icon1" alt="ICON" title="<%=  current_user ? 'Welcome back '+current_user.email : 'Sign in' %><% if current_user.try(:admin?) %> - you are admin<% end %>">
				</a>

				<span class="linedivide1"></span>
				<!-- start wish-->
				<div class="header-wrapicon2">
					<img src="/assets/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
					<% totalwish = @wish.wish_items.count %>
					<span class="header-icons-noti"><%= totalwish %></span>

					<!-- Header cart noti -->
					<div class="header-cart header-dropdown">
						<ul class="header-cart-wrapitem">
							<li>
								<p class="text-center cart-empty">Your wishlist is empty!</p>
							</li>
						</ul>
					</div>
					<div class="header-cart header-dropdown"  style="<%= totalwish == 0 ? 'display: none' : '' %>">
						<ul class="header-cart-wrapitem">
							<% total = 0 %>
							<% @wish.wish_items.each do |cart_item| %>
							<li class="header-cart-item">
								<div class="header-cart-item-img">
									<a href="/products/<%= cart_item.product.id %>">
										<%= image_tag cart_item.product.avatar %>
									</a>
								</div>
								<div class="header-cart-item-txt">
									<a href="/products/<%= cart_item.product.id %>">
										<%= cart_item.product.productname %>
									</a>
									<span class="header-cart-item-info">
										<span class="money">$<%= cart_item.product.price %></span>
									</span>
									<button type="button" onclick="cart.remove('8250556252202');" title="Remove" class="btn btn-xs">
										x
									</button>
								</div>
							</li>
							<% end %>
						</ul>

						

						<div class="header-cart-buttons">
							<div class="header-cart-wrapbtn">
								<!-- Button -->
								<a href="/wish" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
									View Heart
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- end wish-->
				<span class="linedivide1"></span>
				<!-- start cart-->
				<div class="header-wrapicon2">
					<img src="/assets/images/icons/icon-header-03.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
					<% totalquantity = 0 %>
							<% @cart.cart_items.each do |cart_item| %>
							<% totalquantity += cart_item.quantity  %>
							<% end %>
					<span class="header-icons-noti"><%= totalquantity %></span>

					<!-- Header cart noti -->
					<div class="header-cart header-dropdown">
						<ul class="header-cart-wrapitem">
							<li>
								<p class="text-center cart-empty">Your shopping cart is empty!</p>
							</li>
						</ul>
					</div>
					<div class="header-cart header-dropdown"  style="<%= @cart.cart_items.count == 0 ? 'display: none' : '' %>">
						<ul class="header-cart-wrapitem">
							<% total = 0 %>
							<% @cart.cart_items.each do |cart_item| %>
							<% total += cart_item.quantity * cart_item.product.price %>
							<li class="header-cart-item">
								<div class="header-cart-item-img">
									<a href="/products/<%= cart_item.product.id %>">
										<%= image_tag cart_item.product.avatar %>
									</a>
								</div>
								<div class="header-cart-item-txt">
									<a href="/products/<%= cart_item.product.id %>">
										<%= cart_item.product.productname %>
									</a>
									<span class="header-cart-item-info">
										<%= cart_item.quantity %> × <span class="money">$<%= cart_item.product.price %></span>
									</span>
									<button type="button" onclick="cart.remove('8250556252202');" title="Remove" class="btn btn-xs">
										x
									</button>
								</div>
							</li>
							<% end %>
						</ul>

						<div class="header-cart-total">
							Total: $<%= total %>
						</div>

						<div class="header-cart-buttons">
							<div class="header-cart-wrapbtn">
								<!-- Button -->
								<a href="/cart" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
									View Bag
								</a>
							</div>

							<div class="header-cart-wrapbtn">
								<!-- Button -->
								<a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
									Check Out
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- end cart-->
			</div>
		</div>
	</div>

	<!-- Header Mobile -->
	<div class="wrap_header_mobile">
		<!-- Logo moblie -->
		<a href="index.html" class="logo-mobile">
			<img src="/assets/images/icons/logo.png" alt="IMG-LOGO">
		</a>

		<!-- Button show menu -->
		<div class="btn-show-menu">
			<!-- Header Icon mobile -->
			<div class="header-icons-mobile">
				<a href="#" class="header-wrapicon1 dis-block">
					<img src="/assets/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
				</a>

				<span class="linedivide2"></span>

				<div class="header-wrapicon2">
					<img src="/assets/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
					<span class="header-icons-noti">0</span>

					<!-- Header cart noti -->
					<div class="header-cart header-dropdown">
						<ul class="header-cart-wrapitem">
							<li class="header-cart-item">
								<div class="header-cart-item-img">
									<img src="/assets/images/item-cart-01.jpg" alt="IMG">
								</div>

								<div class="header-cart-item-txt">
									<a href="#" class="header-cart-item-name">
										White Shirt With Pleat Detail Back
									</a>

									<span class="header-cart-item-info">
										1 x $19.00
									</span>
								</div>
							</li>

							<li class="header-cart-item">
								<div class="header-cart-item-img">
									<img src="/assets/images/item-cart-02.jpg" alt="IMG">
								</div>

								<div class="header-cart-item-txt">
									<a href="#" class="header-cart-item-name">
										Converse All Star Hi Black Canvas
									</a>

									<span class="header-cart-item-info">
										1 x $39.00
									</span>
								</div>
							</li>

							<li class="header-cart-item">
								<div class="header-cart-item-img">
									<img src="/assets/images/item-cart-03.jpg" alt="IMG">
								</div>

								<div class="header-cart-item-txt">
									<a href="#" class="header-cart-item-name">
										Nixon Porter Leather Watch In Tan
									</a>

									<span class="header-cart-item-info">
										1 x $17.00
									</span>
								</div>
							</li>
						</ul>

						<div class="header-cart-total">
							Total: $75.00
						</div>

						<div class="header-cart-buttons">
							<div class="header-cart-wrapbtn">
								<!-- Button -->
								<a href="cart.html" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
									View Cart
								</a>
							</div>

							<div class="header-cart-wrapbtn">
								<!-- Button -->
								<a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
									Check Out
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>
	</div>

	<!-- Menu Mobile -->
	<div class="wrap-side-menu" >
		<nav class="side-menu">
			<ul class="main-menu">
				<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
					<span class="topbar-child1">
						Free shipping for standard order over $100
					</span>
				</li>

				<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
					<div class="topbar-child2-mobile">
						<span class="topbar-email">
							fashe@example.com
						</span>

						<div class="topbar-language rs1-select2">
							<select class="selection-1" name="time">
								<option>USD</option>
								<option>EUR</option>
							</select>
						</div>
					</div>
				</li>

				<li class="item-topbar-mobile p-l-10">
					<div class="topbar-social-mobile">
						<a href="#" class="topbar-social-item fa fa-facebook"></a>
						<a href="#" class="topbar-social-item fa fa-instagram"></a>
						<a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
						<a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
						<a href="#" class="topbar-social-item fa fa-youtube-play"></a>
					</div>
				</li>

				<li class="item-menu-mobile">
					<a href="index.html">Home</a>
					<ul class="sub-menu">
						<li><a href="index.html">Homepage V1</a></li>
						<li><a href="home-02.html">Homepage V2</a></li>
						<li><a href="home-03.html">Homepage V3</a></li>
					</ul>
					<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
				</li>

				<li class="item-menu-mobile">
					<a href="product.html">Shop</a>
				</li>

				<li class="item-menu-mobile">
					<a href="product.html">Sale</a>
				</li>

				<li class="item-menu-mobile">
					<a href="cart.html">Features</a>
				</li>

				<li class="item-menu-mobile">
					<a href="blog.html">Blog</a>
				</li>

				<li class="item-menu-mobile">
					<a href="about.html">About</a>
				</li>

				<li class="item-menu-mobile">
					<a href="contact.html">Contact</a>
				</li>
			</ul>
		</nav>
	</div>
</header>