<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path "favicon.ico" %>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="assets/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="assets/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="assets/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": true %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
    <%= render "layouts/shim" %>
</head>

<body>
    <%= render "layouts/header" %>

    <%= yield %>

    <%= render "layouts/footer" %>

    <!-- jquery plugins here-->
    <script src="/assets/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/assets/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="/assets/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="/assets/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="/assets/js/mixitup.min.js"></script>
    <!-- particles js -->
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="/assets/js/slick.min.js"></script>
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <script src="/assets/js/waypoints.min.js"></script>
    <script src="/assets/js/contact.js"></script>
    <script src="/assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="/assets/js/jquery.form.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/mail-script.js"></script>
    <!-- custom js -->
    <script src="/assets/js/custom.js"></script>
</body>

</html>
<%= debug(params) if Rails.env.development? %>

<style type="text/css">
.main_menu .cart i:after {
    content: "<%= current_cart.total_item %>" !important;
}
</style>
